APScheduler==3.6.3
backports.zoneinfo==0.2.1
cachetools==4.2.2
certifi==2022.12.7
python-telegram-bot==13.7
pytz==2021.1
PyYAML==5.4.1
six==1.16.0
termcolor==1.1.0
tornado==6.1
tqdm==4.62.0
tzlocal==3.0
